<div class="jumbotron">
  <h2> <%= @node["Name"] %></h2>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <%= for  k  <- Enum.sort(Enum.filter(Map.keys(@node["Attributes"]), fn(x) -> x != "os.signals" end)) do %>
      <tr>
        <td><%= k %></td>
        <td><%= @node["Attributes"][k] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
