<div class="jumbotron">
  <h2> <%= @node["Name"] %></h2>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <%= for { k, v } <- @node["Attributes"] do %>
      <tr>
        <td><%= k %></td>
        <td><%= v %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
