<div class="jumbotron">
	<h2>Admin results for <%= @admin_action %> on  <%= @cluster %> cluster</h2>
</div>

<div class="container">
  <table class="table table-hover">
    <tbody>
      <tr>
      <td>Results</td>
      <%= if elem(@res, 0) == :ok do %>
      <td class="success">
      <% else %>
      <td class="danger">
      <% end %>
        <%= elem(@res, 1) %><td>
      </tr>
    </tbody>
  </table>

</div>
