<div class="jumbotron">
  <center><img src="<%= static_path(@conn, "/images/tabinin.png") %>"></center>
  <h2><%= gettext "Welcome to %{name}", name: "Tabinin" %></h2>
  <p class="lead">Display information on the Nomad Cluster <%= @cluster %></p>
</div>

